# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

*/build/*
*/install/*
*/log/*
build/*
install/*
log/*

LIO-SAM_MID360_ROS2_PKG/ros2/build/
LIO-SAM_MID360_ROS2_PKG/ros2/install/
LIO-SAM_MID360_ROS2_PKG/ros2/log/
LIO-SAM_MID360_ROS2_PKG/ros2/src/Super-LIO/src/super_lio/map/

LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/_local_setup_util_ps1.py
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/_local_setup_util_sh.py
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/.colcon_install_layout
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/COLCON_IGNORE
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/local_setup.bash
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/local_setup.ps1
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/local_setup.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/local_setup.zsh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/setup.bash
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/setup.ps1
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/setup.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/setup.zsh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/include/livox_sim_plugins/livox_sim_gpu_laser.h
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/include/ros2_livox/csv_reader.hpp
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/include/ros2_livox/livox_ode_multiray_shape.h
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/include/ros2_livox/livox_points_plugin.h
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/ament_index/resource_index/package_run_dependencies/livox_gazebo_ros2_gpu_simulation
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/ament_index/resource_index/packages/livox_gazebo_ros2_gpu_simulation
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/ament_index/resource_index/parent_prefix_path/livox_gazebo_ros2_gpu_simulation
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/colcon-core/packages/livox_gazebo_ros2_gpu_simulation
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/local_setup.bash
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/local_setup.dsv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/local_setup.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/local_setup.zsh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/package.bash
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/package.dsv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/package.ps1
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/package.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/package.xml
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/package.zsh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/cmake/ament_cmake_export_libraries-extras.cmake
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/cmake/livox_gazebo_ros2_gpu_simulationConfig-version.cmake
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/cmake/livox_gazebo_ros2_gpu_simulationConfig.cmake
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/config/myrobot_ros2_controller.yaml
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/environment/ament_prefix_path.dsv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/environment/ament_prefix_path.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/environment/library_path.dsv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/environment/library_path.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/environment/livox_sim_gpu_ros2.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/environment/path.dsv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/environment/path.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/hook/cmake_prefix_path.dsv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/hook/cmake_prefix_path.ps1
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/hook/cmake_prefix_path.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/hook/ld_library_path_lib.dsv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/hook/ld_library_path_lib.ps1
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/hook/ld_library_path_lib.sh
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/launch/my_robot.launch.py
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/launch/test_gpu_laser.launch.py
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/meshes/mid-360-scaled.dae
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/rviz/my_robot.rviz
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/scan_mode/avia.csv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/scan_mode/HAP.csv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/scan_mode/horizon.csv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/scan_mode/mid40.csv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/scan_mode/mid70.csv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/scan_mode/mid360.csv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/scan_mode/tele.csv
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/avia.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/HAP.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/horizon.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/mid40.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/mid70.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/mid360.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/tele.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/my_robot/my_robot.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/my_robot/commons/common_macros.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/my_robot/plugins/gazebo_control_plugin.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/my_robot/plugins/gazebo_sensor_plugin.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/my_robot/sensor/mid360_cpu.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/urdf/my_robot/sensor/mid360_gpu.xacro
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/big.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/bigHHH.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/cafe.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/cart_demo.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/elevator.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/fetchit_challenge_tests.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/office_env_large.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/office_small.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/road.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/robocup_3Dsim.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/simple_bigHHH.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/small_city.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/standardrobots_factory.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/test_zone.world
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/H/model.config
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/install/livox_gazebo_ros2_gpu_simulation/share/livox_gazebo_ros2_gpu_simulation/worlds/H/model.sdf
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/log/COLCON_IGNORE
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/log/latest
LIO-SAM_MID360_ROS2_PKG/ros2/src/livox_gazebo_ros2_gpu_simulation/log/latest_build
