[Unit]
Description=Auto Initial Pose Calibrator (ZG - Passive Localization)
After=network.target

[Service]
Type=simple
User=ztl
Group=ztl
WorkingDirectory=/home/ztl/cql
PassEnvironment=ROS_DOMAIN_ID RMW_IMPLEMENTATION
ExecStart=/home/ztl/cql/auto_initial_pose_calibrator/scripts/run_auto_calibrator_zg.sh
Restart=always
RestartSec=10
TimeoutStopSec=10
KillMode=control-group
SendSIGKILL=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
